.vuepress-plugin-demo-block__wrapper .vuepress-plugin-demo-block__display {
  overflow: visible!important;
}

.vuepress-plugin-demo-block__display {
  tr:nth-child(2n) {
    background-color: inherit;
  }
  th, td {
    padding: 1px;
  }

  p, ul, ol {
    line-height: inherit;
  }
}
